<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My home</title>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class='sidebar'>
        <div class='heading'>
            <h1>Our locations</h1>
        </div>
        <div id='listings' class='listings'></div>
    </div>
    <div id="map" class="map"></div>
</body>
<script>
    var mapToken = '<%-process.env.map_token%>';
    var stores = <%-JSON.stringify(stores)%>  //  passing credentials to showMap.js
</script>
<script src="/showMap.js"></script>
</html>